# Ignore build output and IDE configs
.settings/
bin/
target/
.classpath
.project

# Ignore all files by default
*

# But keep these specific files and folders
!DEPARTMENT-SERVICE.properties
!EMPLOYEE-SERVICE.properties
!ORGANIZATION-SERVICE.properties
